
__pycache__/
*.py[cod]
*.egg-info/
.env
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dependencies
venv/
.env.*

# node_modules
node_modules/
/backend/screenshots
backend/app/utils/api_status_cache.json
/data
/backend/screenshots
